# This is a basic workflow to help you get started with Actions

name: Build APK

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master, development ]
  pull_request:
    branches: [ master, development ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Java Setup
        uses: actions/setup-java@v1
        with:
          java-version: '12.x'
          
      - name: Flutter Plugin
        uses: subosito/flutter-action@v1
        with:
          channel: 'dev'
      
      - run: flutter pub get
      #- run: flutter test
      - run: flutter build apk
